.containerSelect{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: var(--size-sm);
    padding: 8px 12px;
    cursor: pointer;
}