.containerFooter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-xm);
  
}

.containerFooter p {
  margin: 0 auto;
}

.containerRedesSociais img {
  width: 50px;
  filter: drop-shadow(0px 0px 2px #fff);
}

@media (max-width: 768px) {
  .containerFooter {
    width: 100%;
    flex-direction: column;
    gap: var(--size-sm);
  }

  .containerRedesSociais img {
    width: 40px;
  }
}