.chatbotIconContainer {
  position: fixed;
  bottom: 80px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--three-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: all 0.3s ease;
}

.chatbotIconContainer:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.chatbotIcon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

@media(max-width: 768px){
  .chatbotIconContainer{
    bottom: 20px;
  }
}

@media(max-width: 320px){
  .chatbotIconContainer{
    bottom: 20px;
    right: 10px;
  }
}